<div id="<%= dom_id session %>">
  <p>
    <strong>Initial time:</strong>
    <%= session.initial_time %>
  </p>

  <p>
    <strong>Started at:</strong>
    <%= session.started_at %>
  </p>

  <p>
    <strong>Completed at:</strong>
    <%= session.completed_at %>
  </p>

  <p>
    <strong>Duation:</strong>
    <%= session.duation %>
  </p>

  <p>
    <strong>Is completed:</strong>
    <%= session.is_completed %>
  </p>

  <p>
    <strong>Incomplete:</strong>
    <%= session.incomplete_id %>
  </p>

</div>
