<div id="<%= dom_id task %>">
  <p>
    <strong>Status:</strong>
    <%= task.status_id %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= task.level_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Due by:</strong>
    <%= task.due_by %>
  </p>

  <p>
    <strong>Session:</strong>
    <%= task.session_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= task.user_id %>
  </p>

</div>
